bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs
/.idea/.idea.RemoteRelay/.idea
/RemoteRelay/published
/RemoteRelay.Server/published
makeself_stage
publish
remote-relay-installer-linux-arm64.sh

# Runtime-generated config files
config.json
ClientConfig.json
ServerDetails.json